@import './components/help-guide.scss';

.formio-form {
  > div {
    > nav {
      display: none;
    }
    > ul {
      display: none;
    }
  }
}

.lb {
  p button {
    margin-right: 5px;
  }
}

#qg-section-nav ul.lb {
  list-style-type: none;

  > li {
    margin-left: 0!important;
    &.active {
      background-color: #005e85;
      > span {
        &.number {
          background-color: #ffffff;
          color: #007eb1;
          height: 21px;
          width: 21px;
          margin: 9px 0 12px 77px;
          display: inline-block;
          text-align: center;
          font-size: 0.9375rem;
        }
      }

      > button {
        color: #ffffff;
      }
    }

    > span {
      &.number {
        background-color: transparent;
        color: #005E85;
        height: 21px;
        width: 21px;
        margin: 15px;
        margin: 9px 0 12px 77px;
        display: inline-block;
        text-align: center;
        font-size: 0.9375rem;
      }

      &.disabled {
        background-color: transparent;
        color: #6f777b;
      }
    }

    > button {
      padding-left: 12px;
    }
  }
}
