@import './components/help-guide.scss';

.formio-form {
  > div {
    > nav {
      display: none;
    }
    > ul {
      display: none;
    }
  }
}

.lb {
  p button {
    margin-right: 5px;
  }
}

ol.lb {
  list-style-type:decimal;
  padding-inline-start:40px;
  text-align:left;
  text-size-adjust:100%;
  li {
    font-size: .875rem;
    transition: all .2s;
  }
  li:hover {
    background-color: #d1d1d1;
  }
}
